<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="VoltMoneyFunctionalSuite" verbose="1">

    <parameter name="browser" value="chrome"/>

    <test name="FunctionalTests">
        <classes>
            <class name="tests.FunctionalTests"/>
        </classes>
    </test>

   <test name="ValidationTests">
        <classes>
            <class name="tests.ValidationTests"/>
        </classes>
    </test>

</suite>